<app-spinner *ngIf="loading$ | async"></app-spinner>
<app-home
    [photos]="photos" 
    [selectedPhoto]="selectedPhoto"
    (syncRequested)="onSyncRequested()"
    (photoSelected)="onPhotoSelected($event)"
    (exifExtracted)="exifData = $event"
    (editPhoto)="onEdit()"
    (uploadPhoto)="onUploadPhoto($event.file, $event.galleryId)"
    (deletePhoto)="onDeletePhoto()" >
</app-home>

<app-edit-photo-dialog
    *ngIf="editDialogVisible"
    [photo]="selectedPhoto"
    (cancel)="onCancelEdit()"
    (save)="onSaveEdit($event)">
</app-edit-photo-dialog>

