.actions {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.action-button {
  width: 100%;
  background-color: blue;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(26, 24, 24, 0.2);
  transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
}

.action-button:hover {
  background-color: darkblue;
}

.action-button:active {
  transform: scale(0.97);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}