<div class="layout">
  <div style="grid-area: toolbar;" class="toolbar-container">
    <app-toolbar 
      (syncRequested)="onSyncClickedFromToolbar()" 
      (gallerySelected)="onGallerySelected($event)">
    </app-toolbar>
    <div class="gallery-title">
      📁 Gallery: {{ selectedGallery?.name || 'No gallery selected' }}
      <span *ngIf="selectedGallery && !selectedGallery.isSynced" class="unsynced-badge" title="Gallery is not synced">
        ⏳
      </span>
  </div>

  </div>

  <div style="grid-area: gallery;">
    <app-gallery [photos]="filteredPhotos" (photoSelected)="onPhotoSelected($event)">
    </app-gallery>
  </div>

  <div style="grid-area: photo;" class="photo">
    <app-photo-viewer [photo]="selectedPhoto"></app-photo-viewer>
  </div>

  <div style="grid-area: sidebar;" class="sidebar">
    <app-photo-sidebar 
      [photo]="selectedPhoto" 
      (exifExtracted)="onExifExtracted($event)"
      (requestDelete)="onDeletePhoto()" 
      (uploadPhoto)="onUploadPhoto($event)" 
      (requestEdit)="onEditPhoto($event)">
    </app-photo-sidebar>
  </div>

  <div style="grid-area: map;" class="map">
    <app-map [exif]="exifData"></app-map>
  </div>
</div>