<div class="layout">
  <div style="grid-area: toolbar;">
    <app-toolbar (syncRequested)="onSyncClickedFromToolbar()"></app-toolbar>
  </div>
  
  <div style="grid-area: gallery;">
    <app-gallery 
    [photos]="photos" 
    (photoSelected)="onPhotoSelected($event)"></app-gallery>
  </div>

  <div style="grid-area: photo;" class="photo">
    <app-photo-viewer [photo]="selectedPhoto"></app-photo-viewer>
  </div>

  <div style="grid-area: sidebar;" class="sidebar">
    <app-photo-sidebar 
      [photo]="selectedPhoto" 
      (exifExtracted)="onExifExtracted($event)"
      (deletePhoto)="onDeletePhoto()"
      (uploadPhoto)="onUploadPhoto($event)"
      (editDescription)="onEditDescription()"
      >
  </app-photo-sidebar>
  </div>

  <div style="grid-area: map;" class="map">
    <app-map [exif]="exifData"></app-map>
  </div>

</div>