.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.8fr 1fr 1fr;
  grid-template-areas:
    "gallery gallery gallery"
    "photo   sidebar    map";
  gap: 16px;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}

.photo, .sidebar, .map {
  overflow-y: auto;
  max-height: 100%;
  box-sizing: border-box;
}

