<div class="sidebar">
  <app-photo-description [description]="photo?.description?? null" [editingFromOutside]="isEditingDescription"
    (descriptionSaved)="onDescriptionSaved($event)" (editingCancelled)="onCancelEditing()">
  </app-photo-description>
  <app-photo-metadata [photo]="photo" (exifExtracted)="onExifExtracted($event)"></app-photo-metadata>
  <div class="actions-wrapper">
    <app-photo-actions (editDescription)="onEditDescription()" (uploadPhoto)="onUploadPhoto($event)"
      (deletePhoto)="onDeletePhoto()">
    </app-photo-actions>
  </div>

</div>