@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-confirm-dialog .mat-dialog-container {
  border-radius: 15px;
  padding: 1.5rem 1.8rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
