.toolbar {
  padding: 0.3rem 1rem; /* паменшылі верхні/ніжні адступ */
  font-size: 0.9rem; /* меншы шрыфт */
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: 40px; 
}